/*General Styling*/
body{
    background-color: rgb(240, 240, 240);
    font-family: proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
        Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,
        Segoe UI Symbol,Noto Color Emoji;
}
/*Header Styling*/
#header a{
    color: black;
    text-decoration: none;
}
#header{
    padding: 37px 48px;

}
#logo{
    width: 70%;
    float: left;

}
#logo_img{
    height: 64px;
    margin: auto 20px;
    float: left;
}
#logo_text{
    
    font-weight: bold;
}

#nav_bar{
    font-size: 20pt;
    width: 100%;
}

#nav_bar td{
    text-align: center;
}

.here{
    color: white;
    border: 5px solid rgba(252, 170 , 103, .3);
    border-radius: 10px;
    background-color: rgba(252, 170 , 103, .3);
}

/*Banner Styling*/
#banner{
    height: 240px;
    background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url(images/robot-banner.jpg) ;
    background-size: cover;
    background-position: center center;
    padding: 160px 50px;
    margin-bottom: 70px;
}
#banner h1, #banner p{
    color: white;
}
#banner .button{
    margin: 0px 600px;
}
.button{
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    font-weight: 700;

}
.button a{
    color: black;
    text-decoration: none;
}
/*Content Styling*/
/*Cards Style*/
#content{
    width: 100%;
}

#phrase{
    font-size: 20pt;
    display: block;
    text-align: center;
}
.card{
    display: inline-table;
    width: 350px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.30);
    margin:  70px 20px;
    
}
.card_image{
    width: 450px;
    height: 450px;
    background-size: contain;
    background-position: center center;
}
#card_image1{
    background-image: url(images/card-image-1.jpg);
}
#card_image2{
    background-image: url(images/card-image-2.jpg);
}
#card_image3{
    background-image: url(images/card-image-3.jpg);
}
.card_text{
    height:275px;
    padding:15px;
    text-align: center;
    font-size: 15pt;
}
/*Image and Text Block Style*/
.blocks{
    width: 100%;
}
.block{
    text-align: right;
}
.block_image img{
    width: 600px;
}
.block_image{
    display: inline-block;
}
.block_text{  
    display: inline-block;
    background-image: url(images/grey-pattern.png); 
    position: relative;
    width: 30%;
    left: -200px;
    padding: 30px;
    color: #fff;
}

/*quote styling*/
#quote{
    font-family: proxima-nova,sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    line-height: 1.37;
    color: #212b36;
}

#attribution{
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.75px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}

/*Recall banner styling*/
#recall{
    background-color: rgb(252, 120, 13);
    padding: 50px;
    font-size: 20px;
}
#box{
    display: inline-block;
    width: 70%;

}
#recall .button{
    float: right;
    margin: 25px;
}



/*Foot Styling*/
#foot a{
    color: white;
    text-decoration: none;
}
#foot{
    padding: 72px 0px;
    background-color: black;
    color: white;
}
#foot table{
    margin: auto;
}
#foot td{ 
    padding: 3px 10px;
    width:max-content;
}
.foot_title{
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    font-size: small;
    color: rgb(165, 165, 165);
}
.foot_item{
    font-weight: 450;
}
#copy{
    color: grey;
    font-size: small;
}




/*Services Page*/
#content.pages{
    width: 80%;
    padding: 20px;
    margin: auto;
}
.page_title h1{
    font-weight: 800;
    font-size: 62px;
    color:#212b36;
}
.page_title p{
    font-size: 24px;
}
#card_image_services1{
    background-image: url(images/card_image_services1.jpg);
}
#card_image_services2{
    background-image: url(images/card_image_services2.jpg);
}
#card_image_services3{
    background-image: url(images/card_image_services3.jpg);
}
.img_card_correction{
    height: 400px;
}
.text_card_correction{
    height: 220px;

}
.services_card{
    margin: 10px 70px;
}
.more_details{
    font-size: 16px;
    font-weight: 500;
    color: #b97e31;
    text-decoration: none;
}


/*Contact page*/
#col1{
    display: inline-table;
    padding: 15px;
    height: 250px;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 1.42;
    color: #000;
    max-width: 40%;
}
#col2{
    display: inline-table;
    padding: 15px;
    height: 250px;
    width: 50%;
    position: relative;
    top: -15px;
}
#col2 input, textarea{
    
    padding: 10px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
}
#col2 select{
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
}

#row1{
    margin: auto;
}

label{
    margin: 5px 0px;
    padding-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    color: rgba(235, 162, 28, 0.788);
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    font-size: large;
    font-style: normal;
}
button{
    height: 50px ;
    width: 100px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(235, 162, 28, 1);
    box-shadow: 2px 2px 1px black;
    color:black;
    font-size: 20px;
    
    font-weight: 800;
}
form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Free Products Styling*/
.free_services_table{
    width: 100%;
    font-weight: 300;
    padding: 20px;
    
}
.free_services_table td{
    border-bottom: 1px solid black;
    padding: 10px;
}
.symbols_table{
    text-align: center;
}
.title_row{
    font-size: 18px;
    font-weight: 500;
    color: rgb(235 162 28);
}
.title_row td{
    border: none;
}

/*Sales page style*/

.sale_card{
    box-shadow: 1px 1px 3px rgba(235, 162, 28, 0.788);
    margin: 15px;
    padding-right: 15px;
    background-color: rgba(235, 162, 28, 1);
    height: 500px;
}
.sale_card_img{
    height: 500px;
    max-width: 50%;
    display: inline-block;
}
.sale_card_text{
    width: 45%;
    height: 500px;
    float: right;
    margin: 5px;
}
#product1{
    background-image: url(images/product1.jpg);
    background-size: cover;
    width: 80%;
}
#product2{
    background-image: url(images/product2.jpg);
    background-size: cover;
    width: 80%;
}
#product3{
    background-image: url(images/product3.jpg);
    background-size: cover;
    width: 80%;
}
#product4{
    background-image: url(images/product4.jpeg);
    background-size: cover;
    width: 80%;
}
#product5{
    background-image: url(images/product5.jpg);
    background-size: cover;
    width: 80%;
}
#product6{
    background-image: url(images/product6.jpg);
    background-size: cover;
    width: 80%;
}

